.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.box8 {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

.box8 .icon {
  margin: 0;
  position: absolute;
  list-style: none;
  padding: 0;
  top: 42%;
  left: 0;
  right: 0;
  text-align: center;
}

.box8 .icon li {
  display: inline-block;
}

.box8 .title {
  margin: 0;
  position: absolute;
  background: #2fa9af;
  font-size: 20px;
  color: #fff;
  padding: 5px 7px;
  border-radius: 5px;
  font-weight: 600;
  bottom: 20px;
  left: 20px;
  -webkit-transition: all .9s ease 0s;
  transition: all .9s ease 0s;
}

.box8 img {
  width: 100%;
  height: auto;
}

.box8 .box-content {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: perspective(400px) rotateX(-90deg);
          transform: perspective(400px) rotateX(-90deg);
  -webkit-transform-origin: center top 0;
          transform-origin: center top 0;
  -webkit-transition: all .5s ease 0s;
  transition: all .5s ease 0s;
}

.box8:hover .box-content {
  opacity: 1;
  -webkit-transform: perspective(400px) rotateX(0);
          transform: perspective(400px) rotateX(0);
}

.box8:hover .title {
  bottom: -40px;
}

.color {
  color: blue !important;
  cursor: pointer;
}

.modal .fade {
  display: none;
}

.close .fileinput-exists {
  float: none;
}

li .height-ul {
  height: 275px;
}

div .padding-top-ul {
  padding-top: 20px;
}

div a .resize_logo_img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 15px;
  top: 15px;
  bottom: 15px;
  vertical-align: middle;
  margin: auto;
  z-index: 55;
}

.margin_bottom {
  margin-bottom: 15px;
}

.fix_float {
  float: right;
}

.display_form {
  display: inline;
}

.uploader {
  display: block;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
}

.uploader label {
  float: left;
  clear: both;
  width: 100%;
  padding: 2rem 1.5rem;
  text-align: center;
  background: #fff;
  border-radius: 7px !important;
  border: 3px solid #eee;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.uploader label:hover {
  border-color: #454cad;
}

.uploader label.hover {
  border: 3px solid #454cad;
  -webkit-box-shadow: inset 0 0 0 6px #eee;
          box-shadow: inset 0 0 0 6px #eee;
}

.uploader label.hover #start i.fa {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0.3;
}

.uploader #start {
  float: left;
  clear: both;
  width: 100%;
}

.uploader #start.hidden {
  display: none;
}

.uploader #start i.fa {
  font-size: 50px;
  margin-bottom: 1rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.uploader #response {
  float: left;
  clear: both;
  width: 100%;
}

.uploader #response.hidden {
  display: none;
}

.uploader #response #messages {
  margin-bottom: .5rem;
}

.uploader #file-image {
  display: inline;
  margin: 0 auto .5rem auto;
  width: auto;
  height: auto;
  max-width: 450px;
}

.uploader #file-image.hidden {
  display: none;
}

.uploader #notimage {
  display: block;
  float: left;
  clear: both;
  width: 100%;
}

.uploader #notimage.hidden {
  display: none;
}

.uploader progress,
.uploader .progress {
  display: inline;
  clear: both;
  margin: 0 auto;
  width: 100%;
  max-width: 180px;
  height: 8px;
  border: 0;
  border-radius: 4px;
  background-color: #eee;
  overflow: hidden;
}

.uploader .progress[value]::-webkit-progress-bar {
  border-radius: 4px;
  background-color: #eee;
}

.uploader .progress[value]::-webkit-progress-value {
  background: -webkit-gradient(linear, left top, right top, from(#393f90), color-stop(50%, #454cad));
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}

.uploader .progress[value]::-moz-progress-bar {
  background: linear-gradient(to right, #393f90 0%, #454cad 50%);
  border-radius: 4px;
}

.uploader input[type="file"] {
  display: none;
}

.uploader div {
  margin: 0 0 .5rem 0;
  color: #5f6982;
}

.uploader .btn {
  display: inline-block;
  margin: .5rem .5rem 1rem .5rem;
  clear: both;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-transform: initial;
  border: none;
  border-radius: .2rem;
  outline: none;
  padding: 0 1rem;
  height: 36px;
  line-height: 36px;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #454cad;
  border-color: #454cad;
  cursor: pointer;
}

.fix_text_file {
  line-height: 2.5 !important;
  border-radius: 5px !important;
}

.padding-left {
  padding-left: 30px !important;
}

tr .fix_size_image {
  height: auto;
  width: 60%;
}

.hidden {
  display: none;
}

.nav-logo img {
  width: 100%;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}

.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input + label:after {
  content: "\F040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview > img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.display_none {
  display: none;
}

